@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

html, body {
  background-color: #f6f6f6;
  width: 100vh;
  margin-left: auto !important;
  margin-right: auto !important;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.banner {
  background-color: white;
}
